.mainCreateRecipe{
background: linear-gradient(to right, #FA8D8B, #FEACAD, #FA8D8B);
display: flex;
justify-content: center;
min-height:100vh;

width:100%;
position: relative;
align-items: center;
}
.image{
    position: absolute;
    background: rgba(173, 159, 159, 0.7) url('../create.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    width: 30%;
    min-height: 100vh;
    top:0;
    bottom:0;
    left:0;
    position: fixed;
    

}
.divLogoCreate{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

   
}
.logoCreate{
    height: 4rem;
    width: 8rem;
    margin: 1.2rem 0 0 2rem;
}
.createBanner{
    width: 70%;
    height: 250px;
    color: #fff;
    text-shadow: 0 0 4px #fff, 0 0 6px #FA8D8B;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.overlay-first{
    display: flex;
    align-items: center;
    flex-direction: column;
    position:absolute;
    z-index: 2;
    background-image: linear-gradient(to right,
                  
                    transparent,
                    transparent,   
                    transparent,   
                    transparent,   
                    transparent,  
                    transparent,  
                    transparent,  
                    transparent,   
                    transparent,    
                    transparent,
                    RGB(252, 162, 162));
    height: 100%;
    width:100%;
}
.formulario{
    width:70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    height: fit-content;
    flex-direction: column;
   
    }
    
    
    .form{
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    width:60%;
    margin: 5% 10% 10% 10%;
    border-radius: 10px;
    justify-content: center;
    background-color:#fff;
    align-items: center;
    box-shadow:9px 9px 18px -9px #272424;
    display:flex;
    flex-direction: column;
    gap:2.5rem;
    height: fit-content;

    }
    
    .divInput{
        width:70%;}
    
    .inputForm{
        min-height: 2.5rem;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem;
        background-color: transparent;
        border-top: 2px solid #f4474783;
        border-right:2px solid #f4474783;
        border-left:2px solid #f4474783;
        border-bottom:2px solid #f4474783;
        border-radius: 6px;
        margin-right: 10px;
        outline:none;
        resize: none;
        color:rgb(75, 72, 72);
    }
    .inputForm:hover{
        border-bottom:2px solid #F44847;
        outline: none;
    }
    .inputForm::placeholder{
        font-size: 1rem;
        font-weight: 500;
       color: #909294;
        height: 30px;
        text-align: left;
        
    }
    .inputInstruction{
        height: 5rem;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem;
        color:rgb(75, 72, 72);
        outline:none;
        border-top: 2px solid #f4474783;
        border-right:2px solid #f4474783;
        border-left:2px solid #f4474783;
        border-bottom:2px solid #f4474783;
        border-radius: 6px;
        resize: none;
        background-color: #fff;
    }
    .inputInstruction::placeholder{
        color:#909294;
        font-size: 1rem;
        font-weight: 500;
    }
    .inputInstruction:hover{
     
        border-bottom:2px solid #F44847;
        outline: none;
    }
    .inputInstruction::-webkit-input-placeholder {
        color:#909294;
        font-size: 1rem;
        font-weight: 500;
        }
    .boxCreate{
        width: 70%;
    }
    .boxCreate .btnCreate{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position:relative;
        outline: none;
        font-weight: 500;
        padding: 10px 30px;
        font-size: 1rem;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border:2px solid #F44847;
        background:transparent;
        color: #fff;
        box-shadow: 0 5px 10px rgba(0,0,0,0.25);
        overflow: hidden;
        
    }
    .boxCreate .btnCreate:after{
        position:absolute;
        content: '';
        left:0;
        top:0;
        height: 1070%;
        width:160%;
    
        transition: all .5s ease-in-out;
        background: #F44847;
        transform: translate(-9%,-25%) rotate(45deg);
        
        
    }
    .boxCreate:hover .btnCreate:after{
        transform: translate(-98%,-25%) rotate(45deg);
    }
    .btnCreate span{
        position: relative;
        z-index:1;
    }
    .btnCreate:hover{
        color:#F44847;
    }

    .danger{
        height: 2.5rem;
        width: 100%;
 
        font-size: 1rem;
        font-weight: 500;
        background-color: transparent;
        padding: 0.5rem;
       outline: none;
       border-top: 2px solid #f4474783;
       border-right:2px solid #f4474783;
       border-left:2px solid #f4474783;
       border-bottom:2px solid #f4474783;
       border-radius: 6px;
    }
    .danger::placeholder{
        color:#909294;
        font-size: 1rem;
        font-weight: 500;
    }
    .msgError{
        font-size: 1rem;
        display:block;
        font-weight:500;
        color: rgb(216, 19, 19);
    }
    .btnCreate:disabled{
        background-color:#f447477c;
        color: #fff;
        cursor: not-allowed;
    }
    .creado{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 3rem;
    }
    .selectForm{
        border-top: 2px solid #f4474783;
        border-right:2px solid #f4474783;
        border-left:2px solid #f4474783;
        border-bottom:2px solid #f4474783;
        border-radius: 6px;
        outline: none;
        color: #909294;
        padding: 0.5rem;
        background-color: #fff;
        width: 100%;
        height: 2.5rem;
        font-size: 1rem;
        font-weight: 500;
       
    }
    .selectForm option:checked {
       
        color: #FA8E8C;
        font-weight: 500;
      }
    
    .selectForm:hover{
        border-bottom:2px solid #F44847;
        
    }
   

    ::selection{
        background: #FC9E9E;
    }

    .logoCreateResponsive{
        display: none;
       
    }
    .titleCreateResponsive{
        display: none;
       
    }
    .titleCreate{
        color:#fff;
        font-weight: 600;
        font-size: 2rem;
        align-self: flex-start;
        margin-top: 4rem;
        margin-left: 4rem;
    }
  
@media screen and (max-width: 900px) {
    .titleCreate{
        display: none;
    }
    .logoCreateResponsive{
        display: block;
        top: 1rem;
        left: 1rem;
        z-index: 3;
        position: absolute;  
        height: 4rem;
        width: 8rem;
        margin: 0;

    }
    .titleCreateResponsive{
        display: block;
        color: #fff;
        font-weight: 600;
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        margin-top: 2.5rem;
    }
    
    .inputForm{
        background: #fff;
    }
    .danger{
        background: #fff;
    }
    .image{
        display:none;
    }
    .divInput{
        height: fit-content;
    }

   .formulario{
    min-width: 100%;
    display: flex;   
    margin: 0;  
    justify-content: flex-start; 
    flex-direction: column;
    background: linear-gradient(to right, #FA8D8B, #FEACAD, #FA8D8B);
    }
 
 
  
    .form{
        gap: 1.5rem;
        width:90%;
        top: 3rem;
        margin: 2rem auto auto auto;
        background-color: transparent;
        box-shadow: none;
        margin-bottom: 2rem;
    }
   
   .eachContainer{
    justify-content: center;
    width: 80%;
    height: 100px;
    flex-wrap: wrap;
  
   }
    .ContainDietInstructions{
        flex-wrap: wrap;
        width: 80%;
        height: 140px;
        margin-bottom: 20px;
    }
 
  
    .dietInstructions{
        height: 50px;
    }
    .btnCreate{
        height: 20px;
        font-size: 10px;
        margin-top: 10px;
    
    }
   
    .boxCreate:hover .btnCreate:after{
        transform: translate(-9%,-25%) rotate(45deg);
    }
    .boxCreate .btnCreate{
        background: #F44847;
        color: #fff;
        padding:10px 30px;
        height: 2.5rem;
    }
    
    .boxCreate .btnCreate:after{
       display: none;
      }
  
   }
   @media screen and (min-width: 1800px) {
    .boxCreate .btnCreate{
        background: #F44847;
        color: #fff;
        padding:10px 30px;
        height: 2.5rem;
    }
    
    .boxCreate .btnCreate:after{
       display: none;
      }
   }