.dietsMain{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    padding-bottom: 50px;
    justify-content: center;
    margin: 0;
    background-color: #DBDBDD;
    

}

@media screen and (max-width: 600px) {
    .dietsMain{
        padding-bottom:40px;
        
    }
}
    
